<input type="checkbox" {{#if visible}}checked=true {{/if}} title="Toggle the layer's visibility."/> <span title="This is the top overlay displaing the state borders, cities as well as the coast-lines, major water bodies and rivers.">{{name}}</span>
