<p>Click<i style="margin-left:10px" class="fa fa-info-circle"></i> for more ...</p>
<!--table class="table table-condensed table-striped">
  <tr>
    <td>Time Period</td><td> {{timePeriod}} </td>
  </tr>
</table-->
