<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About EOxClient</h3>
    </div>
    <div class="modal-body modal-body-about">
        <div class="row-fluid">
    <div class="span8">
      <p>&nbsp;</p>
      <p>
This is the early version of the DREAM project's On-line Data Access client.
It has still some issues but we are working hard on the improvements.
      </p>
      <p>
Despite a few remaining small glitches the clinet should work in majority of the the modern browsers.
If you encouter an issue in your browser please let us know. 
      </p>
      <p>
Yours EOX development team. 
      </p>
      <p>&nbsp;</p>
      <p>version 0.4.6</p>
      <p>&copy; 2013-2014 EOX IT Services, GmbH</p>
    </div>
  </div>
</div>
