<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <table width="100%"><tr>
    <td><h3 class="panel-title"><i class="fa fa-fw fa-download"></i> Ingestion T5</h3></td>
    <td align="right" style="align:right;"><button class="btn btn-default" id="btn-iet5-showlog"><i class="icon-white"></i>Show Log File</button></td>
    </tr></table>
    <!-- h3 class="panel-title"><i class="fa fa-fw fa-download"></i> Ingestion T5</h3 -->
</div>

<div class="panel-body">

  <div class="input-group" id="scenario-list" style="width:100%;"></div>

  <!-- div class="btn-group input-group-level btn-block" style="width:10em;">
    <button type="button" class="btn btn-default" id="btn-iet5-test" style="width:85%;">Test</button>
  </div -->
 
</div>
<div class="panel-footer">
    <button class="btn btn-default" id="btn-iet5-addscenario" ><i class="icon-white"></i>Add Scenario</button>
</div>
