<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-wrench"></i>&nbsp;Layer Options</h3>
</div>

<div class="panel-body">
    <div id="layer-options-label"></div>
    <hr>
    <div id="layer-options-alert"></div>
    <div id="layer-options-group">
      <div id="layer-options-opacity" title="Use the slider to control the layer's opacity.">opacity:&nbsp;<span id="layer-options-opacity-value"></span></div>
      <div><input type="checkbox" class="cbx-layers" id="cbx-layer-outlines" title="Toggle visibility of the products outlines.">&nbsp;display outlines</input> </div>
      <div><input type="checkbox" class="cbx-layers" id="cbx-layer-cloudless" title="Toggle the cloud stripping.">&nbsp;strip clouds</input> </div>
      <div><input type="checkbox" class="cbx-layers" id="cbx-layer-cloudmask" title="Toggle visibility of the cloud mask.">&nbsp;display clouds mask</input> </div>
    </div>
    <hr>
    <div id="layer-options-mosaic">
    <a class="btn btn-primary" id="btn-get-mosaic" style="width:100%;" href="" download="" title="Save the layer as a mosaic in the GeoTIFF format."><i class="fa fa-fw fa-download"></i>&nbsp;Save Layer as Mosaic</a>
    </div>
</div>

