<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-map-marker "></i>&nbsp;Feature Info</h3>
</div>

<div class="panel-body">
    <div id="layer-info-view-alert"></div>
    <table class="layer-info-group">
        <tr>
            <td class="layer-info-label">Layer:&nbsp;</td>
            <td id="layer-info-layer-name"></td>
        </tr>
        <tr>
            <td class="layer-info-label">Description:&nbsp;</td>
            <td id="layer-info-layer-descr"></td>
        </tr>
    </table>
    <div class="layer-info-group">
    </div>
</div>
<div class="layer-info-group"><span class="layer-info-label">&nbsp;&nbsp;&nbsp;&nbsp;Feature info:</span></div>
<iframe id="layer-info-frame"></iframe>
<div class="panel-footer">
    <span id="layer-info-location-lat">n/a</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="layer-info-location-lon">n/a</span>
</div>

