<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-thumbs-up"></i> Quality</h3>
</div>

<table>
  <tr>
    <td class="panel-left">
    <div class="panel-body">
      <div id="download-alert"></div>
      <div id="download-list"></div>
    </div></td>
    <td class="panel-right"><iframe class="panel-info" id="download-info-frame"></iframe></td>
  </tr>
</table>

<div class="panel-footer">
  <p>
  <button class="btn btn-default" id="btn-q-improve"><i class="icon-white icon-download-alt"></i>Improve Quality</button>
  <button class="btn btn-default" id="btn-q-assess"><i class="icon-white icon-download-alt"></i>&nbsp;Assess Quality&nbsp;</button>
    <!-- button type="button" class="btn btn-default" id="btn-modify-selection" title="Return to the time and area specification."><i class="fa fa-fw fa-edit"></i> Modify</button -->
  </p>
</div>
