<div>
  <label class="checkbox"><input type="checkbox" value="{{coverageId}}"></input>{{coverageId}}<span id="cov-info-flag"></span><i style="margin-left:10px" class="fa fa-info-circle"></i></label>
</div>
